<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta and links -->
    <%- include('./partials/headData') %>
    <title>Minimize | Profile</title>
  </head>
  <body class="flex flex-col justify-between">
    <!-- Navbar -->
    <%- include('./partials/navBar') %>
    <!-- Page content -->
    <% if (locals.user) { %>
    <div class="grow mx-auto m-5 lg:m-10 lg:min-w-[300px]">
      <div class="bg-cyan-700/20 p-5 lg:p-10 rounded-md">
        <h1 class="text-3xl mb-6 underline underline-offset-4">My Account</h1>
        <p class="mb-2">
          Name: <span class="font-semibold"><%= locals.user.name %></span>
        </p>
        <p class="mb-2">
          Email: <span class="font-semibold"><%= locals.user.email %></span>
        </p>
        <p class="mb-8">
          Registered URLs:
          <span class="font-semibold"><%= locals.urls.length %></span>
        </p>
        <a
          href="/api/url/clear"
          class="hover:bg-red-700/20 duration-300 rounded-md font-semibold ring-2 ring-red-700/50 px-4 py-2"
          >Delete all URLs</a
        >
      </div>
    </div>
    <% } else { %>
    <div class="grow mx-auto m-10 min-w-[300px]">
      <div class="bg-cyan-700/20 p-10 rounded-md">
        <h1 class="text-3xl">Login to see your account details</h1>
      </div>
    </div>
    <% } %>
    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
